@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "Einloggen";

    if (ViewBag.error) {
        <div class="alert alert-danger">Falscher Benutzername oder Passwort!</div>
    }
}


