@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "Dokumente";
    <div class="row">
        <select>
            <option>test</option>
            <option>test</option>
        </select>
    </div>
}