@{
    Layout = "~/Layout.cshtml";
        <table class="table">
            <thead>
                <tr>
                    <th>Fachnr.</th>
                    <th>Modulbezeichnung</th>
                    <th>Professor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>501</td>
                    <td>Datenbanken</td>
                    <td>Prof. Dr. Ritz</td>
                </tr>
                <tr>
                    <td>502</td>
                    <td>Theoretische Informatik</td>
                    <td>Prof. Dr. Fassbender</td>
                </tr>
                <tr>
                    <td>503</td>
                    <td>Architektur von Betriebssystemen</td>
                    <td>Prof. Dr. Oßman</td>
                </tr>
            </tbody>
        </table>
        <hr />
        <form class="form-inline" action="http://www.google.de/search" target="_blank">
            <div class="form-group">
                <label for="search-input"><span class="glyphicon glyphicon-search"></span> Suche</label>
                <input type="text" class="form-control" id="search-input" name="q" />
            </div>
            <input type="hidden" name="as_sitesearch" value="http://www.fh-aachen.de" />
            <button type="submit" class="btn btn-default">Suchen</button>
        </form>
}